[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Termite
Icon=utilities-terminal
Exec=/usr/local/bin/termite
StartupNotify=false
StartupWMClass=Termite
X-UnityGenerated=true
